<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать пользователя</title>

</head>
<body>
<h1>Создать пользователя</h1>
<br/><br/>
<form method="post" th:action="@{/create}" th:object="${user}">
    <div th:if="${user}">
        <table>
            <tr>
                <td><label for="name">Имя :</label></td>
                <td><input th:type="text" th:field="${user.name}" id="name"/></td>
            </tr>
            <tr>
                <td><label for="surname">Фамилия :</label></td>
                <td><input th:type="text" th:field="${user.surname}" id="surname"/></td>
            </tr>
            <tr>
                <td><label for="age">Сколько лет :</label></td>
                <td><input th:type="text" th:field="${user.age}" id="age"/></td>
            </tr>

        </table>
    </div>
    <input type="submit" value="Создать"/>
</form>
</body>
</html>